::-moz-selection {
  /* Code for Firefox */
  color: #ECECF2;
  background: #9201f3;
}

::selection {
  color: #ECECF2;
  background: #7802ff;
}

@import url('https://fonts.googleapis.com/css2?family=Asap&family=Gluten&family=JetBrains+Mono:ital,wght@1,600&family=Josefin+Sans&family=Karla&family=Noto+Sans+Mono&family=Oxygen+Mono&family=Permanent+Marker&family=Noto+Sans&family=Ubuntu&display=swap');

.nav_title {
  font-size: 1.8rem;
  font-family: 'Noto Sans Mono', 'Courier New', Courier, monospace;
  text-align: center;
}

#exec {
  background-color: #8c5aff;
  color: #e9e9ea;
  padding: 12px;
  border-radius: 12px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  border: 0;
}

.cmd_input {
  background-color: #f6f6f6;
  color: #050505;
  padding: 12px;
  border-radius: 12px;
  font-size: 1.2rem;
  border: 0;
  width: 80%;
}

.cmd_div {
  text-align: center;
}

.output_div {
  margin-left: 10%;
  margin-right: 10%;
}

.output_div p {
  font-family: 'Oxygen Mono', 'Courier New', Courier, monospace;
  font-size: 1rem;
  padding: 12px;
  background-color: #050505;
  color: #e9e9ea;
  border-radius: 12px;
}

.term_title {
  text-align: center;
  font-family: 'Noto Sans Mono', 'Courier New', Courier, monospace;
  font-size: 2.4rem;
}

.term_highlight {
  color: rgb(20, 251, 4);
}